GITHUB_TOKEN=ghp_tu_token_aqui
GOOGLE_DRIVE_CONFIG_FILE_ID=tu_file_id
GOOGLE_DRIVE_FOLDER_ID=tu_folder_id
POSTGRES_HOST=localhost
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=github_data
LOG_LEVEL=INFO
